<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加内容</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.page.js.css">
    <link rel="stylesheet" type="text/css" href="/css/contentManage.css">
    <SCRIPT src="/js/jquery-1.9.1.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/jquery.page.js" type="text/javascript"></SCRIPT>
    <SCRIPT type="text/javascript" src="/js/contentManage.js"></SCRIPT>
</head>
<body>
<div class="common_box">
    <div class="search_div">
        <div class="holder"></div>
        <form action="" method="get">
            内容url:
            <input type="text" name="content_url" placeholder="请提供要抓取内容的url地址"/>
            <input class="submit" type="submit" name="add_submit" value="添加" />
        </form>
    </div>
    <div class="holder"></div>
</div>
</body>
</html>