<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新知识库</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.page.js.css">
    <link rel="stylesheet" type="text/css" href="/css/contentManage.css">
    <SCRIPT src="/js/jquery-1.9.1.min.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="/js/jquery.page.js" type="text/javascript"></SCRIPT>
    <SCRIPT type="text/javascript" src="/js/contentManage.js"></SCRIPT>
</head>
<body>
<div class="common_box">
    <div class="search_div">
        <form action="" method="get">
            <input class="submit" type="submit" name="update_submit" value="提交更新" />
        </form>

    </div>
    <div class="holder"></div>
</div>
</body>
</html>